name: Helloworld-workflow

# Controls when the Action will run
# Triggers the workflow on push to master or production
on:
  push:
    branches:
      - master
      - production

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Print hello world
        run: echo "Hello world"
